ul {
    border:1px solid #ccc;
    padding:0;
    margin:0;
}
ul li {
    list-style: none;
    height:30px;
    line-height: 30px;
}

a { 
    width:100%;
    height:30px;
    display:inline-block;
    text-decoration:none;
}

a:link{color:black;}
a:visited{color:gray;}
a:hover{color:red; background-color: lightblue;}
a:active{color:blue;}