@font-face {
  font-family: "iconfont";
  src: url("../iconfont/iconfont.eot?t=1472040992");
  /* IE9*/
  src: url("../iconfont/iconfont.eot?t=1472040992#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff?t=1472040992") format("woff"), url("../iconfont/iconfont.ttf?t=1472040992") format("truetype"), url("../iconfont/iconfont.svg?t=1472040992#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  width: 7.5rem;
  margin: 0 auto; }

.head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.88rem;
  background-color: #fe2d63;
  font-size: 0.34rem;
  color: #fff;
  padding: 0.2rem 0.25rem;
  box-sizing: border-box;
  text-align: center;
  z-index: 9999999; }
  .head i {
    float: left;
    font-size: 0.34rem;
    position: relative;
    top: 4px; }
  .head .right {
    float: right;
    font-size: 0.28rem;
    position: relative;
    top: 4px; }

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  border-top: 1px solid #ccc;
  padding: 0.1rem 0.15rem;
  box-sizing: border-box;
  font-size: 0.2rem;
  color: #333; 
  background-color: #fff;
  z-index: 9999999;}
  .foot ul li {
    width: 25%;
    float: left;
    text-align: center; 
  }
  .foot ul li i {
    font-size: 0.5rem; 
  }
  .foot ul li p {
    margin-top: 0.05rem;
  }
  .foot ul li .oncur {
    color: #fe2d63; 
  }
