.pad {
  padding: 0 0.25rem;
  box-sizing: border-box; }

.head .i0 {
  font-size: 0.4rem;
  color: #fff;
  position: relative;
  top: -0.07rem; }

.pet-mydata {
  background: #f6f6f6;
  padding-top: 0.88rem;
  padding-bottom: 0.98rem; }
  .pet-mydata .sub-head {
    background: #fff;
    height: 2.21rem;
    width: 100%; }
    .pet-mydata .sub-head .sub-up {
      height: 1.64rem; }
      .pet-mydata .sub-head .sub-up .i2 {
        float: right;
        line-height: 1.64rem;
        font-size: 0.24rem;
        color: #999; }
    .pet-mydata .sub-head .sub-up-l {
      float: left;
      font-size: 0; }
      .pet-mydata .sub-head .sub-up-l img {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.18rem 0.32rem 0.25rem 0; }
    .pet-mydata .sub-head .sub-up-r {
      font-size: 0;
      float: left;
      margin-top: 0.38rem; }
    .pet-mydata .sub-head .sp1 {
      font-size: 0.28rem; }
    .pet-mydata .sub-head .sp2 {
      font-size: 0.24rem; }
    .pet-mydata .sub-head .sp3 {
      font-size: 0.2rem;
      padding: 0.1rem 0.1rem 0.05rem 0.1rem;
      background: url(../images/LV1.png) no-repeat center center;
      background-size: 100% 100%; }
    .pet-mydata .sub-head .pet-num {
      margin-top: 0.18rem;
      color: #999; }
    .pet-mydata .sub-head .try p {
      font-size: 0.32rem; }
      .pet-mydata .sub-head .try p .i1 {
        font-size: 0.24rem;
        color: #27a1ff;
        margin: 0 0.09rem 0 0.07rem; }
  .pet-mydata .sub-bott {
    font-size: 0; }
    .pet-mydata .sub-bott span {
      font-size: 0.24rem;
      display: inline-block; }
    .pet-mydata .sub-bott span:nth-of-type(1) {
      margin: 0 0.88rem 0 0.58rem; }
    .pet-mydata .sub-bott span:nth-of-type(2) {
      margin: 0 0.88rem;
      position: relative; }
    .pet-mydata .sub-bott span:nth-of-type(3) {
      margin: 0 0.58rem 0 0.88rem; }
    .pet-mydata .sub-bott span:nth-of-type(2):after {
      content: "";
      width: 1px;
      height: 0.4rem;
      background: #999;
      display: block;
      position: absolute;
      left: -0.9rem;
      bottom: -0.05rem; }
    .pet-mydata .sub-bott span:nth-of-type(2):before {
      content: "";
      width: 1px;
      height: 0.4rem;
      background: #999;
      display: block;
      position: absolute;
      right: -0.9rem;
      bottom: -0.05rem; }
  .pet-mydata .item1, .pet-mydata .item4 {
    margin-top: 0.35rem;
    border: none; }
  .pet-mydata .setting {
    margin: 0.35rem 0; }
  .pet-mydata .item {
    height: 1rem;
    background: #fff;
    font-size: 0;
    border-top: 2px solid #f6f6f6; }
    .pet-mydata .item .circlebg {
      border-radius: 50%;
      width: 0.58rem;
      height: 0.58rem;
      text-align: center;
      margin-top: 0.21rem;
      float: left; }
      .pet-mydata .item .circlebg .i3 {
        font-size: 0.3rem;
        line-height: 0.58rem;
        color: #fff; }
    .pet-mydata .item .bg1 {
      background: #ffb45b; }
    .pet-mydata .item .bg2 {
      background: #4dc6ff; }
    .pet-mydata .item .bg3 {
      background: #eb68ff; }
    .pet-mydata .item .bg4 {
      background: #ff6600; }
    .pet-mydata .item .bg5 {
      background: #558dff; }
    .pet-mydata .item .bg6 {
      background: #7fff82; }
    .pet-mydata .item .bg7 {
      background: #e3e3e3; }
    .pet-mydata .item p {
      font-size: 0.3rem;
      float: left;
      margin-left: 0.2rem;
      line-height: 1rem; }
    .pet-mydata .item .i4 {
      float: right;
      line-height: 1rem;
      font-size: 0.24rem;
      color: #999; }
